<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="menu">
        <h3>Cursos Fintech</h3>
        <nav>
            <ul class="menu-list">
                <li><a href="/">Inicio</a></li>
                <li><a href="/eventos">Eventos</a></li>
                <li class="submenu">
                    <a href="/publicaciones">Publicaciones</a>
                    <ul class="submenu-list">
                        <li><a href="/Secciones/comunidad.html#news">Publicar</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="/aceleradoras">Aceleradoras</a>
                    <ul class="submenu-list">
                        <li><a href="/Secciones/aceleradoras.html#inversionistas">Inversionistas</a></li>
                    </ul>
                </li>
                <li class="submenu">
                    <a href="/concursos">Concursos</a>
                    <ul class="submenu-list">
                        <li><a href="/Secciones/concursos.html#formacion">Formación</a></li>
                    </ul>
                </li>
                <li class="submenu"><a href="/cursos">Cursos</a></li>
                <li class="submenu"><a href="/noticias">Noticias</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>